<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "#{t :app_name}", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home").to_s, root_path %></li>
        <li><%= link_to t(".help").to_s, help_path %></li>
        <li><%= link_to t(".login").to_s, "#" %></li>
      </ul>
    </nav>
  </div>
</header>
